<html>
    <head>
        <title>Movies Info</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
<header class="container-fluid">
        
   <nav>
        <p>Movies Info</p>
        <ul>
            <li>
                <a href="/movies/crear">Subir Pelicula</a>
            </li>
            <li>
                <a href="/movies">Ver Peliculas</a>
            </li>
        </ul>
   </nav>

  </header>
  <body>
      
  