<%- include('header') -%>

<h1>Listado de Peliculas</h1>
<div>
<ul>
    <% for(let i=0; i < peliculas.length; i++) { %>
        <li>
            <a href="/movies/<%= peliculas[i].id %> ">
                <%= peliculas[i].title %> 
            </a>
        </li>
    <% } %> 
</ul>
</div>

<%- include('footer') -%>